Repository antguivy/votabien-peru: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint {staged_files}
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

feat(match): redesign AI loading state with agentic chat UI and auto-open first candidate detail
  app/(platform)/(interaccion)/match/_components/match-screen.tsx
  components/match/ai-loading-state.tsx
  components/match/candidate-detail.tsx
  components/match/results-flow.tsx
  hooks/use-matchmaking.tsx
Due: lint, format

feat(match): redesign AI loading state with agentic chat UI and auto-open first candidate detail (#126)
  app/(platform)/(interaccion)/match/_components/match-screen.tsx
  components/match/ai-loading-state.tsx
  components/match/candidate-detail.tsx
  components/match/results-flow.tsx
  hooks/use-matchmaking.tsx
Due: lint, format

fix(ai-text): add type to text ai view
  components/match/candidate-detail.tsx
  components/match/results-flow.tsx
Due: lint, format

fix(ai-text): add type to text ai view (#127)
  components/match/candidate-detail.tsx
  components/match/results-flow.tsx
Due: lint, format

feat(research): update research
  app/admin/personas/_components/investigation/research-form.tsx
  hooks/use-research-stream.tsx
Due: lint, format

feat(research): update research (#128)
  app/admin/personas/_components/investigation/research-form.tsx
  hooks/use-research-stream.tsx
Due: lint, format

feat(tools): remove 3 tools
  app/(platform)/(interaccion)/comparador/page.tsx
  app/(platform)/(interaccion)/match/page.tsx
  app/(platform)/(interaccion)/trivia/page.tsx
  components/game/inca-arcade-card.tsx
  components/landing/hero-dual-split.tsx
  components/navbar/navbar-config.tsx
  lib/supabase/middleware.ts
Due: lint, format

feat(tools): remove 3 tools (#129)
  app/(platform)/(interaccion)/comparador/page.tsx
  app/(platform)/(interaccion)/match/page.tsx
  app/(platform)/(interaccion)/trivia/page.tsx
  components/game/inca-arcade-card.tsx
  components/landing/hero-dual-split.tsx
  components/navbar/navbar-config.tsx
  lib/supabase/middleware.ts
Due: lint, format

Remove PostHogProvider from layout
  app/layout.tsx
Due: lint, format

Remove PostHogProvider from layout (#130)
  app/layout.tsx
Due: lint, format

Configure NODE_OPTIONS for IPv4 resolution
  Dockerfile
Due: none

Configure NODE_OPTIONS for IPv4 resolution (#131)
  Dockerfile
Due: none

Comment out NODE_OPTIONS in Dockerfile
  Dockerfile
Due: none

Comment out NODE_OPTIONS in Dockerfile (#132)
  Dockerfile
Due: none

Enable IPv4 DNS resolution in Node options
  Dockerfile
Due: none

Enable IPv4 DNS resolution in Node options (#133)
  Dockerfile
Due: none

Update Node.js version in Dockerfile
  Dockerfile
Due: none

Update Node.js version in Dockerfile (#134)
  Dockerfile
Due: none

Update Node.js version in Dockerfile (#135)
  Dockerfile
Due: none

Update next.config.ts
  next.config.ts
Due: lint, format

Update next.config.ts (#136)
  next.config.ts
Due: lint, format

feat(posthog): delete posthog
  .env.production
  app/(platform)/candidatos/[candidatosId]/_components/detail-page.tsx
  app/(platform)/partidos/[partidosId]/_components/detail-party.tsx
  components/match/saved-results.tsx
  components/share-rs.tsx
  hooks/use-analytics.ts
  lib/posthog-provider.tsx
  next-env.d.ts
  package.json
  pnpm-lock.yaml
Due: lint, format

feat(posthog): delete posthog (#137)
  .env.production
  app/(platform)/candidatos/[candidatosId]/_components/detail-page.tsx
  app/(platform)/partidos/[partidosId]/_components/detail-party.tsx
  components/match/saved-results.tsx
  components/share-rs.tsx
  hooks/use-analytics.ts
  lib/posthog-provider.tsx
  next-env.d.ts
  package.json
  pnpm-lock.yaml
Due: lint, format

feat(next-version): update next version
  package.json
  pnpm-lock.yaml
Due: format

feat(next-version): update next version (#138)
  package.json
  pnpm-lock.yaml
Due: format

fix(db-switch): delete credentials and switch db
  .env.example
  .env.production
Due: none

fix(db-switch): delete credentials and switch db (#139)
  .env.example
  .env.production
Due: none

Update hero-dual-split.tsx
  components/landing/hero-dual-split.tsx
Due: lint, format

Update hero-dual-split.tsx (#140)
  components/landing/hero-dual-split.tsx
Due: lint, format

fix(parties): fix query server
  actions/candidate.ts
  app/(platform)/candidatos/page.tsx
  app/(platform)/page.tsx
  app/(platform)/partidos/[partidosId]/page.tsx
  components/landing/podcast.tsx
  components/politics/candidatos-list.tsx
  components/sticky-banner.tsx
  queries/public/parties-server.ts
  queries/public/parties.ts
Due: lint, format

fix(parties): fix query server (#142)
  actions/candidate.ts
  app/(platform)/candidatos/page.tsx
  app/(platform)/page.tsx
  app/(platform)/partidos/[partidosId]/page.tsx
  components/landing/podcast.tsx
  components/politics/candidatos-list.tsx
  components/sticky-banner.tsx
  queries/public/parties-server.ts
  queries/public/parties.ts
Due: lint, format

fix(candidates): fix candidate activate
  app/(platform)/candidatos/page.tsx
Due: lint, format

fix(candidates): fix candidate activate (#143)
  app/(platform)/candidatos/page.tsx
Due: lint, format

chore: upgrade to Next.js 16 and React 19
  package.json
  pnpm-lock.yaml
  proxy.ts
Due: lint, format

fix: use webpack due to serwist turbopack incompatibility
  package.json
Due: format

feat: implement Prisma and Better Auth
  .env.example
  .gitignore
  app/(platform)/(interaccion)/comparador/page.tsx
  app/admin/candidatos/_lib/actions.ts
  app/admin/layout.tsx
  app/admin/page.tsx
  app/admin/partidos/_lib/actions.ts
  app/admin/personas/_lib/actions.ts
  app/api/auth/[...all]/route.ts
  app/api/auth/confirm/route.ts
  app/layout.tsx
  components/admin/navbar.tsx
  components/admin/user-nav.tsx
  components/auth/login-form.tsx
  components/auth/register-form.tsx
  components/navbar/mobile-bottom-nav.tsx
  components/navbar/navbar-client.tsx
  components/navbar/navbar-user-menu.tsx
  components/navbar/navbar.tsx
  lib/auth-actions.ts
  lib/auth-client.ts
  lib/auth-provider.tsx
  lib/auth.ts
  lib/prisma.ts
  lib/supabase/client.ts
  lib/supabase/middleware.ts
  lib/supabase/public.ts
  lib/supabase/server.ts
  next-env.d.ts
  package.json
  pnpm-lock.yaml
  prisma.config.ts
  prisma/schema.prisma
  proxy.ts
  queries/public/electoral-districts.ts
  queries/public/electoral-process.ts
  queries/public/hito.ts
  queries/public/parliamentary-groups.ts
  tsconfig.json
Due: lint, format

fix: downgrade kysely to 0.28.17 to resolve better-auth Webpack bundling issue
  components/admin/user-nav.tsx
  components/auth/logout-button.tsx
  components/navbar/mobile-bottom-nav.tsx
  components/navbar/navbar-client.tsx
  components/navbar/navbar-user-menu.tsx
  interfaces/user.ts
  lib/auth-actions.ts
  lib/auth-provider.tsx
  lib/supabase/public.ts
  lib/supabase/server.ts
  next-env.d.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
  queries/public/electoral-process.ts
  queries/public/hito.ts
Due: lint, format

Path conditions:
  lint: any of: *.{js,jsx,ts,tsx}
  format: any of: *.{js,jsx,ts,tsx,json,css,md}
